# Python
__pycache__/
*.py[cod]
*$py.class
*.sqlite3
db.sqlite3
*.log

# Environments & Secrets
venv/
env/
.env
*.env

# Service Account & Cloud Credentials
*serviceAccount*.json
*service-account*.json
*credentials*.json
firebase-adminsdk-*.json
*-key.json
serviceAccountKey.json
*.pem
*.key
*.p12
